/* Contenedor del Articulo */
.container-article{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: sans-serif;
    font-size: 20px;
    overflow: hidden;
}
article{
    position: relative;
    width: 70%;
    padding: 20px;
    padding-bottom: 50px;
    box-shadow: -10px 0 20px -30 black;
    border-radius: 6px;
    overflow: hidden;
    background: #f7f7f7;
}
article:before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(224, 52, 9);

}
.container-article .h1-article,.h2-article{
    margin-top: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
}
.container-article p{
    margin-top: 20px;
    color: #3c3c3c;
}
.container-article article img{
    max-width: 500px;
    max-height: 800px;
    width: 100%;
    display: block;
    /* padding: 20px; */
    /* height: 800px; */
    margin: 0 auto;
    margin-top: 20px;
    object-fit: cover;
    border-radius: 6px;
}

/* aside-Barra lateral */
.container-aside aside{
    /* margin-top: 0; */
    margin-left: 40px;
    width: 320px;
    border-radius: 6px;
    box-shadow: 0 0 20px -20px black;
    overflow: hidden;
    margin-bottom: 40px;
    background: #f7f7f7;
    
}
.container-aside aside img{
    width: 100%;
}
.container-aside aside h2, 
.container-aside aside p{
    margin-top: 20px;
    padding: 0 20px;
}
.container-aside aside button{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: rgb(224, 52, 9);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
/* Barra Separadora de Contenido */
.barraSeparadora{
    border-radius: 4px;
    font-family: 'oswald', sans-serif;
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(26,25,26,1) 50%, rgba(0,0,0,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(50%, rgba(26,25,26,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(71%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(26,25,26,1) 50%, rgba(0,0,0,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(26,25,26,1) 50%, rgba(0,0,0,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(26,25,26,1) 50%, rgba(0,0,0,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(26,25,26,1) 50%, rgba(0,0,0,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
/* Area de descargas */
.area-de-descargas{
    margin-top: 20px;
    display: flex;
    /* grid-template-columns: repeat(auto-fill,minmax(250px, 1fr)); */
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
    justify-content: space-around;
    flex-wrap: wrap;

}
.area-de-descargas h3{
    text-align: center;
    /* font-weight: bold; */
    font-size: 30px;
    border-bottom: 2px solid #b8b8b8;
}
.area-de-descargas a{
    text-decoration: none;

}
.area-de-descargas a button{
    width: 80%;
    display: block;
    font-size: 30px;
    margin: auto;
    color: #fff;
    border-radius: 10px;
    height: 40px;
    background: #aa0303;
    border: none;
    outline: none;
    font-family: "Squada One", cursive;
    cursor: pointer;
    margin-bottom: 20px;
}
.area-de-descargas a button:hover{
    background: #ff0000;
}
.requisitos{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.requisitos-minimos, .requisitos-recomendados{
    width: 570px;
    /* padding: 0 10px; */
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);



}
/* .requisitos-minimos div, 
.requisitos-recomendados div{
    margin-top: 20px;
} */

.requisitos .i i{
    padding: 10px;
    /* color: #fff; */
    /* border-radius: 10px;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%); */
    display: inline-block;
    margin-bottom: 10px;
}
.requisitos .barraSeparadora{
 border-radius: 0;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e03409+0,ef4832+50,f6290c+51,f02f17+71,e03409+100 */
background: rgb(224,52,9); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(224,52,9,1) 0%, rgba(239,72,50,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(224,52,9,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(224,52,9,1) 0%,rgba(239,72,50,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(224,52,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(224,52,9,1) 0%,rgba(239,72,50,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(224,52,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e03409', endColorstr='#e03409',GradientType=0 ); /* IE6-9 */


}
@media screen and (max-width:1863px){
    .requisitos-minimos, .requisitos-recomendados{
        width: 100%;
        
    }
}
@media screen and (max-width:1334px){
    .container-article article .h1-article, .h2-article{
        padding: 20px;
    }
    .container-article article{
        width: 100%;
        padding: 1px;
    }
    .container-aside aside{
        margin-top: 60px;
        width: 100%;
        margin-left: 0;
    }
}